export(survdiffr,
survfitr,
is.Survr,
Survr,
surv.search,
q.search,
mlefrailty.fit,
wc.fit,
psh.fit
)


S3method(print,summary.survfitr)
S3method(print,survfitr)
S3method(summary,survfitr)
S3method(plot,survfitr)
S3method(lines,survfitr)

import("boot")

